/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap'); */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: FontSemiBold;
  src: url("./assets/Graphik-Font-Family/GraphikSemibold.otf");
}


@font-face {
  font-family: FontBold;
  src: url("./assets/Graphik-Font-Family/GraphikBold.otf");
}

@font-face {
  font-family: FontRegular;
  src: url("./assets/Graphik-Font-Family/GraphikRegular.otf");
}

@font-face {
  font-family: FontMedium;
  src: url("./assets/Graphik-Font-Family/GraphikMedium.otf");
}

body::-webkit-scrollbar-thumb {
  background-color: #565656;
  outline: 1px solid slategrey;
  border-radius: 50px;
}

body {
  line-height: 1;
  background-color: #fff;
  /* margin: 1.5rem 1rem 0 1rem; */
  position: relative;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  color: #1d2939;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: FontSemiBold;
}

p {
  font-size: 1.050rem;
  font-family: FontRegular;
  color: #475467;
  line-height: 150%;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.353rem;
}

h4 {
  font-size: 1.263rem;
}

h5 {
  font-size: 1.15rem;
}

.homepage-author-info-container > span,
.authorpost-author-info-container > span {
  font-family: FontMedium;
  font-size: 13px;
  color: #667085;
  letter-spacing: 1px;
}

.Link, .homepage-link  {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.logo {
  width: 85px;
}

.logo-logo-name {
  position: relative;
  display: flex;
  text-decoration: none;
  align-items: end;
}

.logo-logo-name > .logo-name {
  font-size: 1.1rem;
  font-weight: 700;
  color: #1a1a1a;
  position: absolute;
  left: 31px;
  top: 25px;
}

.nav-link {
  text-decoration: none;
  font-family: "Libre Baskerville", serif;
  /* color: #1C1C1C; */
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1.1px;
}

.button-28 > .nav-link {
  color: #1c1c1c;
}

.button-28:hover > .nav-link {
  color: #ffffff;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 1px solid #1c1c1c;
  border-radius: 8px;
  box-sizing: border-box;
  color: #1c1c1c;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 0.3rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled,
.isMember-btn:disabled {
  pointer-events: none;
}

.button-28:hover,
.isMember-btn:hover {
  -webkit-tap-highlight-color: transparent;

  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active,
.isMember-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.register-main {
  /* width: 300px; */
  padding: 5rem 0 0 0;
  margin: 0 auto;
  /* display: flex; */
  justify-content: center;
}
.form-container {
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin: 0 1.5rem 0 1.5rem;
  align-items: center;
  /* padding-top: 5rem; */
  justify-content: space-evenly;
  padding: 1.2rem 0;
  border-radius: 10px;
  border-top: 5px solid #1c1c1c;
  border-bottom: 5px solid #1c1c1c;
}

.heading-para {
  display: grid;
  text-align: center;
  justify-items: center;
  gap: 0.8rem;
  letter-spacing: 1.1px;
  margin-bottom: 2rem;
}

.heading-para > h1 {
  font-size: 33px;
  font-weight: bold;
}

.heading-para > p {
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 400;
}

.register-form {
  width: 100%;
  /* display: grid; */
  gap: 1rem;
  padding: 0.6rem 0;
}

.input-container {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
}

.form-para {
  margin-top: 1rem;
}

.form-para > .form-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid #1c1c1c;
  padding: 0.3rem;
  border-radius: 5px;
  margin-left: 0.5rem;
}

.form-para > .form-link:hover {
  background-color: #1c1c1c;
  color: #fff;
  transition: linear 0.2s;
}

.form-para > .form-link:active {
  background-color: #1c1c1c;
  color: #fff;
}

.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 0px;
  top: -5px;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
}

.input-container > .input {
  outline: none;
  border: none;
  letter-spacing: 1.1px;
  width: 300px;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
}

.input-container > .input::placeholder {
  color: rgba(128, 128, 128, 0.671);
}

.aiIcons {
  margin-top: 0.3rem;
  font-size: 2rem;
}

.btn-hide {
  display: none;
}

.alert-heading {
  position: absolute;
  font-family: "Open Sans";
  font-weight: 400;
  top: -15px;
  margin-left: 0.5rem;
  color: tomato;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.isMember-btn {
  appearance: none;
  background-color: transparent;
  border: 1px solid #1c1c1c;
  border-radius: 8px;
  box-sizing: border-box;
  color: #1c1c1c;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 0.2rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.profile-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-btn > .profile-icon {
  font-size: 1rem;
  font-weight: bold;
}

.profile-btn > span {
  font-size: 1rem;
  text-transform: capitalize;
}

.about-container {
  width: 100%;
  display: grid;
  gap: 3rem;
}

.loading {
  width: 100%;
  height: 300px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.loader {
  width: 65px;
}

@media (min-width: 768px) {
  .register-main {
    width: 400px;
    padding-top: 0;
  }

  .sidebar-icons {
    display: none;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 105px;
  }

  .register-main {
    padding: 2rem 0 0 0;
  }
}

.ql-snow {
  font-family: "Open Sans", sans-serif;
  line-height: 1.1;
  letter-spacing: 1px;
}

.ql-editor strong {
  font-weight: bold;
}

.ql-editor em {
  font-style: italic;
}

.ql-editor p {
  font-family: "Poppins", sans-serif;
    /* font-family: FontRegular; */
  line-height: 1.5rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.ql-editor h1,
h2,
h3,
h4,
h5 {
  font-family: FontSemiBold;
  letter-spacing: 1px;
  /* font-weight: 500; */
}

.dashboard-page {
  margin: 1.5rem 1rem;
}


.ql-snow .ql-editor pre.ql-syntax {
  font-size: 13px;
    background-color: #23241f;
    color: #f8f8f2;
    width: 100%;
    overflow: auto;
}

.ql-snow .ql-editor pre {
    white-space: pre;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
}