/* font-family: 'Open Sans', sans-serif; */
/* font-family: "Libre Baskerville", serif; */

.editor-page-container {
    padding: 5rem 0;
  display: grid;
  gap: 3rem;
  justify-content: center;
}

.editor-page-heading {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

.editor-page-heading-container {
  display: grid;
  justify-content: center;
  gap: 0.3rem;
}

.heading-underline {
  display: flex;
  width: 100px;
  height: 4px;
  background-color: black;
  justify-self: center;
}

.editor-page-img-container, .editor-page-content{
    display: grid;
  justify-content: center;

}

.editor-page-content{
  gap: 1.1rem;
  padding: 0 1rem 1rem 1rem;

}

.editor-page-content > h2{
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
  line-height: 2rem;
}

.editor-page-content > p{
  font-family: 'Open Sans', sans-serif; 
  line-height: 1.5rem;
  
}

.editor-page-flex-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  text-align: center;
}
.meta{
  justify-content: center
}

.span-se{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media (min-width: 756px) {
  .editor-page-flex-box {
    text-align: left;
    display: flex;
    align-items: flex-start;
    width: 700px;
  }
}



@media (min-width: 1020px) {
  .editor-page-flex-box {
    display: flex;
    /* align-items: flex-start; */
    width: 850px;
  }
}
