    
  .content-container {
    position: relative;
    padding: 0 0 1rem 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }


.hero-img {
  width: 100%;
}

.hero-heading{
    color: black;
    font-family: "Libre Baskerville", serif;
    font-size: 33px;
  }

.span-fi{
    font-family: 'Open Sans', sans-serif;
    color: #1c1c1c7c;
    font-size: 20px;
  }

  .meta{
    font-family: 'Open Sans', sans-serif;
    color: #1c1c1c7c;
    font-size: 1rem;
    display: flex;
    gap: 1rem;
  }

  .hero-img-content {
    display: grid;
    gap: 1rem;
    padding: 1rem 0 0 0;
  }

  .hero-para{
    font-family: 'Open Sans', sans-serif; 
    line-height: 25px;
    font-size: 1rem;
  }

  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: "Libre Baskerville", serif; */

@media (min-width: 756px) {

  .content-container {
    position: relative;
    padding: 0;
    box-shadow: none;
  }

  .hero-img {
    width: 100%;
    display: block;
  }


  .hero-img-content {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 450px;
    top: 0;
    left: 30px;
    padding:4rem  1.3rem;
    display: grid;
    gap: 1rem;
  }
  .hero-para{
    padding-top: 2rem;
  }

}
